<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <meta name="description" content="<%= I18n.t('layout.description') %>">

    <title>Organiko - <%= I18n.t(data.page.title) %></title>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png" />
    <link rel="shortcut icon" href="favicon.png" />
    <!-- should actually be placed in your root dir -->
    <link rel="icon" type="image/ico" href="favicon.ico" />

    <%= stylesheet_link_tag 'all' %>

  </head>

  <body class='<%= page_classes %>'>
    <div class='main-header-container'>
      <img class='main-header' src='../images/header.jpg'></header>
    </div>
    <div class='content'>
      <%= yield %>
      <div class='footer'>
        <a href='../es'>Castellano</a> / 
        <a href='../en'>English</a>
      </div>
    </div>
    <%= javascript_include_tag 'all' %>
    <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-39575610-1', 'organiko.es');
    ga('send', 'pageview');

  </script>
  </body>
</html>
