<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>

    <title>Organiko - <%= I18n.t(data.page.title) %></title>

    <%= stylesheet_link_tag 'all' %>

  </head>

  <body class='<%= page_classes %>'>
    <div class='main-header-container'>
      <img class='main-header' src='../images/header.jpg'></header>
    </div>
    <div class='content'>
      <%= yield %>
      <div class='footer'>
        <a href='../es'>Castellano</a> / 
        <a href='../en'>English</a>
      </div>
    </div>
    <%= javascript_include_tag 'all' %>
  </body>
</html>
