---
title: 'titles.home'
---

<div id="slider">
  <img src="../images/slider-1.jpg" alt="<%= I18n.t('index.images.one') %>"/>
  <img src="../images/slider-2.jpg" alt="<%= I18n.t('index.images.two') %>"/>
  <img src="../images/slider-3.jpg" alt="<%= I18n.t('index.images.three') %>"/>
  <img src="../images/slider-4.jpg" alt="<%= I18n.t('index.images.four') %>"/>
  <img src="../images/slider-5.jpg" alt="<%= I18n.t('index.images.five') %>"/>
  <img src="../images/slider-6.jpg" alt="<%= I18n.t('index.images.six') %>"/>
  <img src="../images/slider-7.jpg" alt="<%= I18n.t('index.images.seven') %>"/>
</div>
<div class="description centered">
  <p>
    <%= I18n.t('index.description') %>
    <p class="bold"><%= I18n.t('index.how_it_works_question') %></p>
    <p><%= I18n.t('index.how_it_works') %></p>
  </p>
  <%= partial 'contact' %>
</div>
